<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conestogac.mytask">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Permission to start Alarm on device reboot -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-sdk
            android:minSdkVersion="23"
            android:targetSdkVersion="23"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewTaskActivity"
            android:label="@string/activity_newtask_title"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".AlarmPopupActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"/>

        <!-- https://developer.android.com/training/scheduling/alarms.html#boot        -->
        <!-- Best practice is it is disable to prevent from running broadcast receiver -->
        <!-- However, due to shortage of time, it will be enabled                      -->
        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".ScheduledService" />


    </application>

</manifest>